* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #ec715f;
  height: 70px;
}

.header-list {
  width: 1024px;
  margin: auto;
}

.logo {
  height: 70px;
}

.nav-bar {
  font-size: 16px;
  display: inline-block;
  line-height: 70px;
}

.nav-list {
  list-style: none;
  float: left;
  color: #fafafa;
  padding: 0 30px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.main-visual-title {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
}

.main-visual-body {
  padding-top: 10px;
  font-size: 20px;
  color: #fafafa;
}

.portfolio {
  width: 100%;
  background-color: #eceff1;
  text-align: center;
  color: #000000;
}

.portfolio-container {
  padding-bottom: 90px;
  margin: auto;
}

.portfolio-title {
  padding-top: 90px;
  font-size: 32px;
}

.portfolio-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.portfolio-body {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.portfolio-box {
  width: 920px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.portfolio-image:nth-child(1) {
  background-image: url(img/sketch.jpg);
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-image:nth-child(2) {
  background-image: url(img/websuku.png);
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-image:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}

.portfolio-image:nth-child(4) {
  background-image: url(img/webcamp.png);
  margin-right: 10px;
}

.portfolio-image:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin-right: 10px;
}

.portfolio-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

.feature {
  color: #000000;
  text-align: center;
  margin: auto;
}

.feature-container {
  padding-top: 90px;
}

.feature-title {
  font-size: 32px;
}
.feature-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.feature-body {
  margin: 30px auto;
  font-size: 16px;
}

.feature-box {
  width: 320px;
  display: inline-block;
  padding-bottom: 90px;
}

.feature-box:nth-child(1) {
  margin-right: 10px;
}

.feature-box:nth-child(2) {
  margin-right: 10px;
}
.feature-box i {
  height: 60px;
  font-size: 60px;
}

.feature-box-title {
  margin: 10px auto;
  font-size: 20px;
}

.feature-box-body {
  font-size: 16px;
  text-align: left;
}

.profile {
  background-color: #eceff1;
  text-align: center;
}

.profile-title {
  padding-top: 90px;
}

.profile-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.profile-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile-container {
  padding-top: 30px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
}

.profile-container img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-introduction-left {
  width: 50%;
}

.profile-introduction-right {
  width: 50%;
  text-align: left;
}

.contact {
  text-align: center;
}

.contact h1 {
  margin-top: 90px;
  border-bottom: solid 3px #EC715F;
  padding-bottom: 8px;
}

.contact p {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-box {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 90px;
}

.contact-box h3{
  font-size: 20px;
}

.contact-box-right {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.contact-box-right p {
  margin-top: 5px;
  margin-bottom: 20px;
}

.contact-box-left {
  width: 50%;
}

footer {
  background-color: #ec715f;
  height: 60px;
}

footer p {
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
  text-align: center;
}